## Observations and Insights

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mousecsv = 'Resources/Mouse_metadata.csv'
studycsv = 'Resources/Study_results.csv'

# Read the mouse data and the study results
mouse_data = pd.read_csv(mousecsv)
study_data = pd.read_csv(studycsv)

# Combine the data into a single dataset
combined_data = pd.merge(mouse_data, study_data, how='left', on=['Mouse ID'])

# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [24]:
# Checking the number of mice.
print(mouse_data['Mouse ID'].count())

check = study_data.groupby(['Timepoint'])
check.count()

249

           Mouse ID  Tumor Volume (mm3)  Metastatic Sites
Timepoint
0               250                 250               250
5               238                 238               238
10              223                 223               223
15              207                 207               207
20              195                 195               195
25              183                 183               183
30              171                 171               171
35              154                 154               154
40              142                 142               142
45              130                 130               130

In [22]:
check = study_data.sort_values('Timepoint')
check_group = check.groupby(['Timepoint'])
check_group.count()
#check = combined_data.groupby(['Mouse ID'])
#check.count().head(20)

           Mouse ID  Tumor Volume (mm3)  Metastatic Sites
Timepoint
0               250                 250               250
5               238                 238               238
10              223                 223               223
15              207                 207               207
20              195                 195               195
25              183                 183               183
30              171                 171               171
35              154                 154               154
40              142                 142               142
45              130                 130               130

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen