## Observations and Insights

## Initial Set-Up

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mousecsv = '../Resources/Mouse_metadata.csv'
studycsv = '../Resources/Study_results.csv'

# Read the mouse data and the study results
mouse_data = pd.read_csv(mousecsv)
study_data = pd.read_csv(studycsv)

# Combine the data into a single dataset
combined_data = pd.merge(mouse_data, study_data, how='left', on=['Mouse ID'])

# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

#### -- Checking the number of mice

In [6]:
# Find the total number of mice in the study by doing a count of the Mouse IDs in mouse_data
print(mouse_data['Mouse ID'].count())

# Group the study_data by Timepoint, and count the number of mice measured at each timepoint
check = study_data.groupby(['Timepoint'])
check.count()

# Compare the total number of mice in the study to the number of mice included at each timepoint
#---Total Mice (249) < Mouse ID count for Timepoint 0 (250) --> check shows that one mouse was measured twice at Timepoint 0

249

           Mouse ID  Tumor Volume (mm3)  Metastatic Sites
Timepoint
0               250                 250               250
5               238                 238               238
10              223                 223               223
15              207                 207               207
20              195                 195               195
25              183                 183               183
30              171                 171               171
35              154                 154               154
40              142                 142               142
45              130                 130               130

#### -- Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [19]:
# Check combined_data for mice that were measured more than once per Timepoint and separate them out into a variable 
#---use .duplicated() and have it look at both the Mouse ID *AND* Timepoint columns 
dupMouse_check = combined_data.duplicated(subset=["Mouse ID", "Timepoint"])

# For the dupMouse_check subset of combined_data, extract the unique values in the 'Mouse ID' column into a list
dupMouse_ID = combined_data[dupMouse_check]['Mouse ID'].unique()

# Print out the list to see the duplicated mice' IDs
print(dupMouse_ID)

['g989']

#### -- Get all the data for the duplicate mouse IDs.

In [20]:
# Look through combined_data and pull out all the rows for the duplicated mice
#---use .isin() to narrow the search within the 'Mouse ID' column for IDs that match those contained in the dupMouse_ID list
dupMouse_data = combined_data.loc[combined_data['Mouse ID'].isin(dupMouse_ID)]

# Display the data for the duplicated mice (in this case, there is only one)
dupMouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

#### -- Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [24]:
# Create a cleaned version of the combined dataset by dropping the dupMouse_data subset from combined_data
combined_clean = combined_data.drop(dupMouse_data.index)

# Check that the drop was successful by looking through combined_clean and pulling out all the rows for the duplicated mice
#---if successful, printing the results of the .loc[] should give an empty dataframe
drop_check = combined_clean.loc[combined_clean['Mouse ID'].isin(dupMouse_ID)]
print(drop_check)

# With the check passed, display the cleaned dataset for preview
combined_clean.head()

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

#### -- Checking the number of mice in the clean DataFrame.

In [22]:
# Double check that the number of unique Mouse IDs included in combined_clean dropped from the original total of 249
#---in this case, since there was only one duplicated mouse, the result should equal 248
print(len(combined_clean['Mouse ID'].unique()))

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen